.App {
    text-align: center;
    justify-content: center;
    display: flex;
    
  }
  .Numeri {
    font-family: "Indie Flower", cursive;
    font-size: 50px;
  }
  h1 {
    font-family: "Indie Flower", cursive;
    font-size: 75px;
  }
  .Home {
    text-align: center;
    justify-content: center;
    display: block;

  }